@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black-100: #222222;
  --color-black-200: #333333;
  --color-black-300: #444444;
  --color-black-400: #666666;
  --color-blue-light: #00a6f4;
  --color-blue-dark: #006678;
  
  --font-sans: 'Poppins', sans-serif;

  --animate-spin: spin 3s linear infinite
}
